* {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	height: 100%;
	min-height:100%;
}

body {
	background: rgba(119, 140, 208, 0.8);
	color: #fff;
	font-weight: bold;
}

.menuBtn:hover {
	background-color: #684f4f;
}



#cn-button {
	color: #4F759B;
}

 #contact {
	position: fixed;
	bottom: 0;
	right: 0;
	 text-align: center;
	 /* float: right;
	 position: absolute;
	bottom: 0;
	right: 0; */
	border:1px solid rgba(0, 0, 0, 0.5);
	border-radius: 20%;
	background-color: rgba(117, 5, 165, 0.5);
	width: 250px;
	
	
 }

 .subButton {
	background:    #0b5394;
background:    -webkit-linear-gradient(#0000ff, #0b5394 50%, #0000ff);
background:    linear-gradient(#0000ff, #0b5394 50%, #0000ff);
border:        1px solid #556699;
border-radius: 5px;
box-shadow:    0 2px #9fc5e8;
padding:       8px 10px;
color:         #ffffff;
display:       inline-block;
font:          normal 700 18px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   1px 1px #000000;
 }

 .subButton:hover {
	background:    #eeeeee;
	border:        1px solid #556699;
	border-radius: 5px;
	box-shadow:    0 2px #9fc5e8;
	padding:       8px 10px;
	color:         #000000;
	display:       inline-block;
	font:          normal 700 18px/1 "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   0px 0px #000000;
 }

 #treatment {
	text-align: center;
	position: fixed;
    bottom:0px;
    right:25%;
    left:50%;
	margin-left:-150px;
	padding:2px;
	border:1px solid rgba(0, 0, 0, 0.5);
	border-radius: 20%;
	background-color: rgba(117, 5, 165, 0.5);
    color:835600;
    width: 250px;
 }


 input  {
    padding:4px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

 #pers {
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
  /* margin-bottom: 3em; */
   border:1px solid rgba(0, 0, 0, 0.5);
   border-radius: 20%;
   background-color: rgba(117, 5, 165, 0.5);
   width: 250px;
 }

 input {
	 width: 150px;
 }
.component {
	position: relative;
	margin-bottom: 3em;
	height: 15em;
	background: rgba(0,0,0,0.05);
	font-family: 'Lato', Arial, sans-serif;
}

.component > h2 {
	position: absolute;
	overflow: hidden;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 300;
	font-style: italic;
	font-size: 12em;
	opacity: 0.1;
	cursor: default;
}

.cn-button {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 11;
	margin-top: -2.25em;
	margin-left: -2.25em;
	padding-top: 0em;
	width: 4.5em;
	height: 4.5em;
	border: none;
	border-radius: 50%;
	background: none;
	background-color: #fff;
	color: #910404;
	text-align: center;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
}

.csstransforms .cn-wrapper {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 10;
	margin-top: -13em;
	margin-left: -13.5em;
	width: 27em;
	height: 23em;
	border-radius: 50%;
	background: transparent;
	opacity: 0;
	-webkit-transition: all .3s ease 0.3s;
	-moz-transition: all .3s ease 0.3s;
	transition: all .3s ease 0.3s;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
	pointer-events: none;
	overflow: hidden;
}

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
  content:".";
  display:block;
  font-size:2em;
  width:6.2em;
  height:6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index:10;
  color: transparent;
}

.csstransforms .opened-nav {
	border-radius: 50%;
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	pointer-events: auto;
}

.csstransforms .cn-wrapper li {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	pointer-events: none;
	background-color: rgba(243, 25, 18, 0.5);
}

.csstransforms .cn-wrapper li a {
	position: absolute;
	right: -7.25em;
	bottom: -7.25em;
	display: block;
	width: 14.5em;
	height: 14.5em;
	border-radius: 50%;
	background: rgba(243, 25, 18, 0.8);
	background: -webkit-radial-gradient(transparent 35%, rgba(243, 25, 18, 0.8)  35%);
	background: -moz-radial-gradient(transparent 35%, rgba(243, 25, 18, 0.8) 35%);
	background: radial-gradient(transparent 35%, rgba(243, 25, 18, 0.8) 35%);
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 2;
	-webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
	-moz-transform: skew(-60deg) rotate(-75deg) scale(1);
	-ms-transform: skew(-60deg) rotate(-75deg) scale(1);
	transform: skew(-60deg) rotate(-75deg) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
	position: relative;
	top: 1.8em;
	display: block;
	font-size: .5em;
	font-weight: 700;
	font-weight: bold;
	text-transform: uppercase;
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
	background: -webkit-radial-gradient(transparent 35%, rgba(132, 7, 3, 1) 70%);
	background: -moz-radial-gradient(transparent 35%, rgba(132, 7, 3, 1) 70%);
	background: radial-gradient(transparent 35%, rgba(132, 7, 3, 1) 70%);
}
.csstransforms .cn-wrapper li a:focus {
    position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
}

.csstransforms .opened-nav li {
	-webkit-transition: all .3s ease .3s;
	-moz-transition: all .3s ease .3s;
	transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
	-webkit-transform: rotate(-20deg) skew(60deg);
	-moz-transform: rotate(-20deg) skew(60deg);
	-ms-transform: rotate(-20deg) skew(60deg);
	transform: rotate(-20deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(2) {
	-webkit-transform: rotate(12deg) skew(60deg);
	-moz-transform: rotate(12deg) skew(60deg);
	-ms-transform: rotate(12deg) skew(60deg);
	transform: rotate(12deg) skew(60deg);
}

.csstransforms .opened-nav  li:nth-child(3) {
	-webkit-transform: rotate(44deg) skew(60deg);
	-moz-transform: rotate(44deg) skew(60deg);
	-ms-transform: rotate(44deg) skew(60deg);
	transform: rotate(44deg) skew(60deg);
}

.csstransforms .opened-nav #two{
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(5) {
	-webkit-transform: rotate(108deg) skew(60deg);
	-moz-transform: rotate(108deg) skew(60deg);
	-ms-transform: rotate(108deg) skew(60deg);
	transform: rotate(108deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(6) {
	-webkit-transform: rotate(140deg) skew(60deg);
	-moz-transform: rotate(140deg) skew(60deg);
	-ms-transform: rotate(140deg) skew(60deg);
	transform: rotate(140deg) skew(60deg);
}

.csstransforms .opened-nav #three {
	-webkit-transform: rotate(172deg) skew(60deg);
	-moz-transform: rotate(172deg) skew(60deg);
	-ms-transform: rotate(172deg) skew(60deg);
	transform: rotate(172deg) skew(60deg);
}

.no-csstransforms .cn-wrapper {
	overflow: hidden;
	margin: 10em auto;
	padding: .1em;
	text-align: center;
}

.no-csstransforms .cn-wrapper ul {
	display: inline-block;
}

.no-csstransforms .cn-wrapper li {
	float: left;
	width: 5em;
	height: 5em;
	background-color: #fff;
	text-align: center;
	font-size: 1em;
	line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
	display: block;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
	background-color: #f8f8f8;
}

.no-csstransforms .cn-wrapper li.active a{
	background-color: #6F325C;
	color: #fff;
}

.no-csstransforms .cn-button {
	display: none;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  .animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  }

  @keyframes slideInUp {
	from {
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
  }  

  
  @-webkit-keyframes slideInLeft {
	from {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }

  @keyframes slideInRight {
	from {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
  }
  
  @-webkit-keyframes slideInUp {
	from {
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  @keyframes slideInLeft {
	from {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
  }

@-webkit-keyframes fadeInRight {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  @keyframes fadeInRight {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
  }

  @-webkit-keyframes slideInLeft {
	from {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  @keyframes slideInLeft {
	from {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
  }


@-webkit-keyframes fadeInLeftBig {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(-2000px, 0, 0);
	  transform: translate3d(-2000px, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  @keyframes fadeInLeftBig {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(-2000px, 0, 0);
	  transform: translate3d(-2000px, 0, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
  }

@media only screen and (max-width: 620px) {
	.no-csstransforms li {
		width: 4em;
		height: 4em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 500px) {
	.no-ccstransforms .cn-wrapper {
		padding: .5em;
	}

	.no-csstransforms .cn-wrapper li {
		width: 4em;
		height: 4em;
		font-size: .9em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 480px) {
	.csstransforms .cn-wrapper {
		font-size: .68em;
	}

	.cn-button {
		font-size: 1em;
	}
}

@media only screen and (max-width:420px) {
	.no-csstransforms .cn-wrapper li {
		width: 100%;
		height: 3em;
		line-height: 3em;
	}
}